body, h3, h4, h5, h6 {
    font-size: 18px;
}
h1, h2, caption {
    font-size: 20px;
    color:darkgreen
}
h3, h4, h5, h6, strong, th {
    color:green
}
th {
    border-width: 2px;
    border-color: darkgreen;
    border-style:groove
}

